<%= form_with(model: task) do |form| %>
  <tbody class="divide-y verflow-y-scroll divide-gray-200 dark:divide-neutral-700">
    <tr class="hover:bg-gray-100 ">
      <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800">
        <%= task.title %>
      </td>
              <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800">
        <%= form.check_box :status, data: { id: task.id, action: "tasks#toggle" },
          class: "mr-2 align-middle bg-gray-50 border-gray-300 focus:ring-3 focus:ring-blue-300 h-5 w-5 rounded checked:bg-green-500"
          %>
      </td>
      <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800">
        <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">
          Edit
        </a>
      </td>
    </tr>
  </tbody>
<% end %>
