<% if notice.present? %>
  <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice">
    <%= notice %>
  </p>
<% end %>

<div class="m-2">
  <div class="p-2">
    <%= render "form", task: @task %>
  </div>

  <div class="flex flex-col" data-controller="tasks">
    <div class="overflow-x-auto">
      <div class="p-1.5 min-w-full inline-block align-middle">
        <div class="max-h-96">
          <table class="min-w-full divide-y divide-gray-200 ">
            <thead class="text-xs sticky top-0  uppercase bg-gray-50 dark:bg-gray-700 text-white">
              <tr>
                <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-white uppercase">
                  Title
                </th>
                <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-white uppercase">
                  Category
                </th>
                <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-white uppercase">
                  Status
                </th>
                <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-white uppercase">
                  Action
                </th>
              </tr>
            </thead>
            <%= render @tasks %>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
